
$jieqiImgSrc:"/static/images/jieqi";


/*初始化css*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  outline: none;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
ul, li{
  list-style-type: none;
  box-sizing: border-box;
}
a {
  cursor: pointer;
}
[v-cloak]{
  display: none;
}
body{
  background-color: #deb887;
  color: #666;
  .main{
    position: relative;
    // min-width: 1200px;
  }
  .router-view {
    .fade-enter-active {
        transition: opacity .5s ease;
    }
    .fade-leave-active {
        transition: opacity .3s ease;
    }
    // .fade-leave-active below version 2.1.8
    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }
}
  .router-view{
    position: relative;
    min-height: 600px;
    width: 100%;
    height: auto;
    padding-top: 30px;
  }
  
}

header{
  width: 100%;
  height: auto;
  position: relative;
  background: #1C2327;
  #logo{
    &::after{
      content: '王红秀的个人博客';
      position: absolute;
      top: 10px;
      left: 40px;
      font-size: 20px;
      width: 200px;
      color: #fff;
      height: 40px;
      cursor: pointer;
    }
  }
  .header-tips{
     width: 1000px;
     height: 40px;
     line-height: 40px;
     margin: 0 auto;
     &::before{
        background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
        content: "";
        height: 5px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
     }
    .wrapper{
      float: right;
      li{
        display: inline-block;
        margin: 5px 15px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        .iconfont{
          font-size: 30px;
          cursor: pointer;
          &:hover{
            background-color: #c18a8a;
          }
        }
        //  svg:not(:root) {
        //   overflow: hidden;
        // }
        // .v-align-middle {
        //     vertical-align: middle!important;
        // }
        // .octicon {
        //     vertical-align: text-bottom;
        // }
        // .octicon {
        //     display: inline-block;
        //     vertical-align: text-top;
        //     fill: currentColor;
        // }
        a{
          width: 40px;
          height:40px;
          display: inline-block;
          color: #fff;
          cursor: default;
          text-decoration: none;
          border-radius: 50%;
        }
      }
      
    // .mygithub{
    //   background: url("https://github.com/favicon.ico") no-repeat center center;
    // }
    // .mycsdn{
    //   background: url("https://www.csdn.net/favicon.ico") no-repeat center center;
    // }
    }
  }
  .menu{
    background: #440404;
    .menu-main{
      width: 1000px;
      margin: 0 auto;
      li{
        display: inline-block;
        width: 100px;
        height: 50px;
        line-height: 50px;
      }
      a{
        display: inline-block;
        width: 100%;
        height: 100%;
        color: #fff;
        transition: all .2s;
        &:hover,&.active{
          background-color: #e6aaaa;
          color: #ad0711;
        }
      }
    }

    .menu-sub{
      position: absolute;
      display: none;
      .menu-list-ul li{
        box-sizing: border-box;
        border: 1px solid #fff;
        height: 40px;
        line-height: 40px;
        background: #d4aeae;
        transition: all .5s;
        &:hover{
          background: #8a4545;
          color: #fff;
        }
      }
      &#subMenu_intro,
      &#subMenu_blog,
      &#subMenu_solarTerm{
        background-color: #dababa;
        width: 100px;
        cursor: pointer;
        z-index: 11;
      }

    }
  }
}

footer{
  ul li{
    display: inline-block;
    margin: 0 10px;;
  }
  a{
    margin: 0 10px;
    &:hover{
      color: #ad0711;
    }
  }
}
.home-page{
  width: 1100px;
  overflow: hidden;
  margin: auto;
  .left-box{
    float: left;
    overflow: hidden;
    width: 75%;
  }
  #banner-container{
    float: left;
    width: 504px;
    height: auto;
    display: inline-block;
    .window{
      position:relative;
      width:100%;
      height:260px;
      margin:0 auto;
      overflow:hidden;
      border-radius: 2%;
    }
    .container{
      display:flex;
      position:absolute;
      li img{
        cursor: pointer;
      }
    }
    .left, .right{
      position:absolute;
      top:50%;
      transform:translateY(-50%);
      width:50px;
      height:50px;
      background-color:rgba(0,0,0,.3);
      border-radius:50%;
      cursor:pointer;
    }
    .left{
      left:3%;
      padding-left:12px;
      padding-top:10px;
    }
    .right{
      right:3%;
      padding-right:12px;
      padding-top:10px;
    }
    img{
      user-select: none;
    }
    .dots{
        width: 100%;
        position:absolute;
        bottom:38px;
        left:90%;
        transform:translateX(-50%);
        // background: #4c1f1f;
      }
    .dots li{
      width: 15px;
      height: 15px;
      float: left;
      border-radius: 50%;
      background: #fff;
      margin: 0 5px;
      &:hover{
        background: rgba(165, 123, 123, 0.8);
      }
    }
    .dots .dotted{
      opacity: 1;
      background: rgba(165, 123, 123, 0.8);
    }
  }

  // #banner-container{
  //   width: 504px;
  //   height: 260px;
  //   // border: 1px solid red;
  //   -webkit-box-sizing: border-box;
  //   box-sizing: border-box;
  //   display: inline-block;
  //   float: left;
  // }
  .right-box{
    float: right;
    overflow: hidden;
  }
}
.blog-page{
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  .wrapper{
    background: #fff;
    overflow: hidden;
    padding: 20px;
    h2{
      font-size: 16px;
      line-height: 40px;
      border-bottom: 1px solid #eee;
      color: #484848;
      font-weight: normal;
      position: relative;
      margin-bottom: 10px;
      text-align:left;
      &::after{
        content: "";
        position: absolute;
        width: 60px;
        height: 2px;
        content: "";
        background: #000;
        left: 0;
        bottom: 0;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
      }
      &:hover::after{
        width: 80px;
      }
    }
    button{
      display: inline-block;
      width: 100px;
      height: 50px;
      border-radius: 5%;
      background: #e4415f;
      color: #fff;
      cursor: pointer;
      margin: 20px;
      &:hover{
        opacity: 0.8;
      }
    }
    .details p{
      text-align: left;
      // line-height: 20px;
      // height: 20px;
    }
  }
}
.link-box{
  width: 270px;
  height: auto;
  display: inline-block;
  overflow: hidden;
  // margin: 0 30px;
  .link-item{
    height: 125px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 5px;
    background: #000;
    position: relative;
    cursor: pointer;
    &:hover{
      a{
        opacity: 1;
        transform: scale(1.1);
      }
    }
    a{
      width: 100%;
      height: 100%;
      // position: relative;
      display: inline-block;
      transition: all .5s;
      opacity: 0.7;
      background: url(../../static/images/h1.jpg) no-repeat center center;
      
    }
    
    span{
      color: #fff;
      font-size: 18px;
      line-height: 1;
      opacity: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      -webkit-line-clamp: 2;
    }
  }

}
.content-box{
  background: #fff;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
h2{
  font-size: 16px;
  line-height: 40px;
  border-bottom: 1px solid #eee;
  color: #484848;
  font-weight: normal;
  position: relative;
  margin-bottom: 10px;
  text-align:left;
  &::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    content: "";
    background: #000;
    left: 0;
    bottom: 0;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  &:hover::after{
    width: 80px;
  }
}

.content-box-wrap{
  .content-title{
    font-size: 18px;
    padding: 0 10px;
    cursor: pointer;
  }
  li{
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    border-bottom: 1px dotted #d3d3d3;
    
    .left-wrap{
      display: inline-block;
      float: left;
      position: relative;
      overflow: hidden;
      &:hover{
        a{transform: scale(1.1);}
      }
      a{
        width: 270px;
        height: 125px;
        display: inline-block;
        transition: all .5s;
        opacity: 0.7;
        background: url(../../static/images/h1.jpg) no-repeat center center;
        position: relative;
      }
      .content-tags{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        font-style: normal;
        padding: 3px 5px;
        color: #fff;
        background: rgba(18,182,221,.8);
        font-size: 14px;
      }
    }
    .right-wrap{
      display: inline-block;
      overflow: hidden;
      position: relative;
      height: 129px;
      .content-other{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: left;
        span{
          float: right;
          padding: 10px;
          cursor: pointer;
          color: #fff;
          background: #149bea;
          &:hover{
            opacity: 0.8;
          }
        }
      }
    }
  }
}
}

.content-title{
  text-align: left;
  font-size: 18px;
  margin-bottom: 20px;
  // padding: 0 20px;
  // font-weight: 600px;
  &:hover{
    color: #149bea;
  }
}

.card{
  width: 265px;
  height: 260px;
  background: #fff;
  display: inline-block;
  border-radius: 2%;
  background: url(/static/images//quote-bg.png) no-repeat top right rgba(42,42,42,1);
  h2{
    font-size: 22px;
    margin: 10px;
    color: #89919a;
    font-weight: normal;
    padding-bottom: 10px;
  }
  p{    
    text-align: left;
    font-size: 12px;
    padding: 0 0 0 20px;
    line-height: 28px;
    text-shadow: 0px 1px 2px rgba(0,0,0,.5);
    color: #d0d2d4;
  }
  .linkmore{
    margin: 30px 0; 
    li{
      display: inline-block;
      width: 25%;
      float: left;
      a{
        height: 53px;
        text-decoration: none;
        display: block;
        overflow: hidden;
        box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7);
        border-radius: 50%;
        margin: 0 5px;
      }
      a:hover{
        background: #333333;
      }
      .iconfont{
        line-height: 53px;
        text-align: center;
      }
      a.iconfont.icon-homepage {
        color: #ef5509;
        font-size: 36px;
      }
      a.iconfont.icon-youxiang {
        color: #FF991A;
        font-size: 36px;
      }
      a.iconfont.icon-qie{
        font-size: 36px;
      }
      a.iconfont.icon-weixin {
        color: #07AF12;
        font-size: 36px;
      }
    }
  }
}
.intro{
  width: 1200px;
  margin: 0 auto;
  height: 600px;
  position: relative;
  .wrapper{
    .intro-main {
      >li>a{
        &:hover,&.active{
          background-color: #8a4545;
          color: #fff;
        }
      }
      li{
        width: 120px;
        display: inline-block;
        a{
          color: #fff;
          display: inline-block;
          height: 100%;
          transition: 0.5s all;
          text-decoration: none;
        }
        .intro-content{
          position: absolute;
          text-align: left;
          left: 50%;
          transform: translateX(-300px);
          li{
            width: 100%;  
            background: #555f5f;
            padding: 0 10px;  
            &::after{
              content: '';
              width: 100%;
              height: 3px;
              left: 0;
              position: absolute;
              display: inline-block;
              background: #9c968d;
            }
            &:hover{
              background: #bdcccc;
              a{
                color:#666;
              }
            }
          }
        }

      }
      >li{
        height: 40px;
        line-height: 40px;
        >a{
          color: #fff;
          background-color: #230404;
          border: 1px solid #deb887;
          width: 100%;
          line-height: 40px;
          height: 40px;
        }
      }
    }
  }
}
.solar-term{
  width: 1200px;
  margin: 0 auto;
  .wrapper{
    .calendaricity-main{
      // float: left;
      position: relative;
      text-align: left;
      .calendaricity{
        width: 100px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        display: inline-block;
        background-color: #debaba;
        border: 1px solid #deb887;
        >a{
          display: inline-block;
          width: 100%;
          height: 100%;
          transition: 0.5s all;
          &:hover,&.active{
            background-color: #8a4545;
            color: #fff;
          }
        }
      }
      .calendaricity-content{
          // transition: all .5s ease;
          // opacity: 0;
          &.on{
            display: inline-block;
            position: absolute;
            width: 1100px;
            top: 70px;
            left: 0;
            // opacity: 1;
          }
          li{
            width: 500px;
            margin: 10px 25px;
            display: inline-block;
            float: left;
            text-indent: 2em;
            text-align: left;
            background-color: rgba(226, 206, 206, 0.45);
            h2{
              // display: inline-block;
              text-align: center;
              font-size: 18px;
              text-indent: 0;
              font-weight: bold;
              color: #b74242;
              background-color: rgba(165, 123, 123, 0.41);
              transition: .5s all;
              &:hover{
                background-color: rgba(165, 123, 123, 0.8);
              }
            }
            div p{
              margin: 0 10px;
            }
            &.detail01{
              width: 690px;
              height: 458px;
              position: relative;
              display: block;
              border: none;
              transform: translateX(-50%);
              left: 50%;
              text-align: center;
              overflow: hidden;
              -webkit-box-shadow: -2px 8px 20px 15px rgba(0,0,0,0.31);
              -moz-box-shadow: -2px 8px 20px 15px rgba(0,0,0,0.31);
              box-shadow: -2px 8px 20px 15px rgba(0,0,0,0.31);
            }
            &.detail01>div{
              width: 100%;
              height: 100%;
              cursor: pointer;
              display: block;
              background-size: contain;
              -webkit-transition: all .5s;
              -moz-transition: .5s all;
              -o-transition: .5s all;
              &:hover{
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
                opacity: 0.8;
                p{
                  background-color: rgba(78, 11, 11, 0.8);
                }
              }
            }
            &.detail01>div p{
              // background: url(#{$jieqiImgSrc}/lichun0.jpg) no-repeat center center;
              position: relative;
              top: 110px;
              padding: 0 35px;
              font-size: 18px;
              color: #dec3c4;
              background-color: rgba(78,11,11,0.5);
             
            }

          }
       
      }
    }
  }
}
.doc{
  .card{
    position: absolute;
    left: 50%;
    margin-left: 380px;
  }
}


header #navBox{
  display: none;
  height: 35px;
  position: absolute;
  top: -5px;
  left: 0px;
  width: 30px;
  cursor: pointer;

  .navIcon{
    display: inline-block;
    width: 100%;
    height: 5px;
    position: relative;
    top: 25px;
    background: #fff;
    &::after,&::before{
      content: '';
      height: 5px;
      width: 100%;
      display: inline-block;
      background: #fff;
      top: -18px;
      position: relative;
    }
  }
}
//移动端适配
@media screen and (max-width: 1100px){
  header .menu{
    display: none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    .menu-main{
      position: absolute;
      width: 200px;
      height: auto;
      overflow: hidden;
      z-index: 10;
      background: #333333;
      li{
        width: 100%;
      }
    }
    .menu-sub{
      display: none !important;
    }
  }
  body header{
    .header-tips{
      width: 100%;
    }
    #logo::after{
      top: 10px;
      left: 50%;
      margin-left: -100px;
    }
    #navBox{
      display: inline-block;
    }
  }
  body {
    .home-page, .blog-page{
      width: 100%;
    }
    .card{
      display: none;
    }
    .link-box{
      margin: 0;
    }
    header .header-tips .wrapper li{
      margin: 0;
    }
  }
}
@media screen and (min-width: 960px) and (max-width: 1100px){
  body{
    .home-page .left-box{
      margin: 0 120px;
    }
    .intro{
      .intro-content{
        width: 800px;
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
      }
    }
  }

}
@media screen and (min-width: 768px) and (max-width: 959px){
  body{
    .home-page #banner-container{
      width: 60%;
    }
    .intro{
      width: 100%;
      .wrapper .intro-main li .intro-content{
        width: 600px;
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
      }
    }
    .solar-term{
      width: 100%;
      .wrapper .calendaricity-main {
        padding-left: 40px;
        .calendaricity-content.on{
          width: 100%;
          top: 135px;
          left: -25px;
          li:not(.detail01){
            left: 50%;
            transform: translateX(-54%);
            position: relative;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px){
  body{
    font-size: 12px;
    .router-view{
      min-height: 540px;
    }
    .home-page #banner-container{
      width: 100%;
    }
    .intro{
      width: 100%;
      .wrapper .intro-main li{
        width: 75px;
        .intro-content{
          width: 100%;
          transform: translateX(-188px);
        }
      }
    }
    .solar-term{
      width: 100%;
      .wrapper .calendaricity-main {
        padding-left: 40px;
        .calendaricity-content.on{
          width: 100%;
          top: 250px;
          left: -10px;
          li{
            width: 80%;
            margin: 10px 8px;
          }
          li:not(.detail01){
            left: 50%;
            transform: translateX(-50%);
            position: relative;
          }
        }
      }
    }
    .doc {
      .resume-main{
        display: none;
      }
      .card{
        margin-left: -140px;
      }
    }
  }
}