a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  outline: none;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
ul,
li {
  list-style-type: none;
  box-sizing: border-box;
}
a {
  cursor: pointer;
}
[v-cloak] {
  display: none;
}
body {
  background-color: #deb887;
  color: #666;
}
body .main {
  position: relative;
}
body .router-view .fade-enter-active {
  transition: opacity 0.5s ease;
}
body .router-view .fade-leave-active {
  transition: opacity 0.3s ease;
}
body .router-view .fade-enter,
body .router-view .fade-leave-to {
  opacity: 0;
}
body .router-view {
  position: relative;
  min-height: 880px;
  width: 100%;
  height: auto;
  padding-top: 30px;
}
header {
  width: 100%;
  height: auto;
  position: relative;
  background: #1c2327;
}
header .header-tips {
  width: 1000px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
}
header .header-tips::before {
  background: #000
    linear-gradient(
      to left,
      #4cd964,
      #5ac8fa,
      #007aff,
      #34aadc,
      #5856d6,
      #ff2d55
    );
  content: "";
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
header .header-tips .wrapper {
  float: right;
}
header .header-tips .wrapper li {
  display: inline-block;
  margin: 5px 15px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
header .header-tips .wrapper li .iconfont {
  font-size: 30px;
  cursor: pointer;
}
header .header-tips .wrapper li .iconfont:hover {
  background-color: #c18a8a;
}
header .header-tips .wrapper li a {
  display: inline-block;
  color: #fff;
  cursor: default;
}
header .menu {
  background: #440404;
}
header .menu .menu-main {
  width: 1000px;
  margin: 0 auto;
}
header .menu .menu-main li {
  display: inline-block;
  width: 100px;
  height: 50px;
  line-height: 50px;
}
header .menu .menu-main a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
  transition: all 0.2s;
}
header .menu .menu-main a:hover,
header .menu .menu-main a.active {
  background-color: #e6aaaa;
  color: #ad0711;
}
header .menu .menu-sub {
  position: absolute;
  display: none;
}
header .menu .menu-sub .menu-list-ul li {
  box-sizing: border-box;
  border: 1px solid #fff;
  height: 40px;
  line-height: 40px;
  background: #d4aeae;
  transition: all 0.5s;
}
header .menu .menu-sub .menu-list-ul li:hover {
  background: #8a4545;
  color: #fff;
}
header .menu .menu-sub#subMenu_blog,
header .menu .menu-sub#subMenu_solarTerm {
  background-color: #dababa;
  width: 100px;
  cursor: pointer;
  z-index: 11;
}
footer ul li {
  display: inline-block;
  margin: 0 10px;
}
footer a {
  margin: 0 10px;
}
footer a:hover {
  color: #ad0711;
}
.home {
  width: 1000px;
  margin: auto;
}
.home #banner-container {
  float: left;
  width: 690px;
  height: auto;
  display: inline-block;
}
.home #banner-container .window {
  position: relative;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 2%;
}
.home #banner-container .container {
  display: flex;
  position: absolute;
}
.home #banner-container .left,
.home #banner-container .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
}
.home #banner-container .left {
  left: 3%;
  padding-left: 12px;
  padding-top: 10px;
}
.home #banner-container .right {
  right: 3%;
  padding-right: 12px;
  padding-top: 10px;
}
.home #banner-container img {
  user-select: none;
}
.home #banner-container .dots {
  width: 100%;
  position: absolute;
  bottom: 38px;
  left: 50%;
  transform: translateX(-50%);
  background: #4c1f1f;
}
.home #banner-container .dots li {
  display: inline-block;
  width: 152px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100px;
  margin: 1px 8px;
  cursor: pointer;
  opacity: 0.6;
  background-repeat: no-repeat;
  background-size: contain;
}
.home #banner-container .dots .dotted {
  opacity: 1;
}
.home .card {
  float: right;
}
.card {
  width: 265px;
  height: 225px;
  background: #fff;
  display: inline-block;
  border-radius: 2%;
  background: url(/static/images//quote-bg.png) no-repeat top right #2a2a2a;
}
.card h2 {
  font-size: 22px;
  margin: 10px;
  color: #89919a;
  font-weight: normal;
  padding-bottom: 10px;
}
.card p {
  text-align: left;
  font-size: 12px;
  padding: 0 0 0 20px;
  line-height: 28px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  color: #d0d2d4;
}
.card .linkmore {
  margin: 15px;
}
.card .linkmore li {
  display: inline-block;
  width: 25%;
  float: left;
}
.card .linkmore li a {
  height: 53px;
  display: block;
  overflow: hidden;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1),
    inset 0px 1px 1px rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  margin: 0 5px;
}
.card .linkmore li .iconfont {
  line-height: 53px;
  text-align: center;
}
.card .linkmore li a.iconfont.icon-homepage {
  color: #ef5509;
  font-size: 36px;
}
.card .linkmore li a.iconfont.icon-youxiang {
  color: #ff991a;
  font-size: 36px;
}
.card .linkmore li a.iconfont.icon-qie {
  font-size: 36px;
}
.card .linkmore li a.iconfont.icon-weixin {
  color: #07af12;
  font-size: 36px;
}
.blog {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.blog .wrapper .blog-main li {
  width: 100px;
  display: inline-block;
}
.blog .wrapper .blog-main li > a {
  display: inline-block;
  height: 100%;
  transition: 0.5s all;
  text-decoration: none;
}
.blog .wrapper .blog-main li > a:hover,
.blog .wrapper .blog-main li > a.active {
  background-color: #8a4545;
  color: #fff;
}
.blog .wrapper .blog-main li .blog-content {
  position: absolute;
  width: 1200px;
  text-align: left;
  left: 50%;
  transform: translateX(-250px);
}
.blog .wrapper .blog-main li .blog-content li {
  width: 100%;
}
.blog .wrapper .blog-main > li {
  height: 40px;
  line-height: 40px;
}
.blog .wrapper .blog-main > li > a {
  color: #fff;
  background-color: #230404;
  border: 1px solid #deb887;
  width: 100%;
  line-height: 40px;
  height: 40px;
}
.solar-term {
  width: 1200px;
  margin: 0 auto;
}
.solar-term .wrapper .calendaricity-main {
  position: relative;
}
.solar-term .wrapper .calendaricity-main .calendaricity {
  width: 100px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  background-color: #debaba;
  border: 1px solid #deb887;
}
.solar-term .wrapper .calendaricity-main .calendaricity > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: 0.5s all;
}
.solar-term .wrapper .calendaricity-main .calendaricity > a:hover,
.solar-term .wrapper .calendaricity-main .calendaricity > a.active {
  background-color: #8a4545;
  color: #fff;
}
.solar-term .wrapper .calendaricity-main .calendaricity-content.on {
  display: inline-block;
  position: absolute;
  width: 1100px;
  top: 70px;
  left: 0;
}
.solar-term .wrapper .calendaricity-main .calendaricity-content li {
  width: 500px;
  margin: 10px 25px;
  display: inline-block;
  float: left;
  text-indent: 2em;
  text-align: left;
  background-color: rgba(226, 206, 206, 0.45);
}
.solar-term .wrapper .calendaricity-main .calendaricity-content li h2 {
  text-align: center;
  font-size: 18px;
  text-indent: 0;
  font-weight: bold;
  color: #b74242;
  background-color: rgba(165, 123, 123, 0.41);
  transition: 0.5s all;
}
.solar-term .wrapper .calendaricity-main .calendaricity-content li h2:hover {
  background-color: rgba(165, 123, 123, 0.8);
}
.solar-term .wrapper .calendaricity-main .calendaricity-content li div p {
  margin: 0 10px;
}
.solar-term .wrapper .calendaricity-main .calendaricity-content li.detail01 {
  width: 690px;
  height: 458px;
  position: relative;
  display: block;
  border: none;
  transform: translateX(-50%);
  left: 50%;
  text-align: center;
  overflow: hidden;
  -webkit-box-shadow: -2px 8px 20px 15px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: -2px 8px 20px 15px rgba(0, 0, 0, 0.31);
  box-shadow: -2px 8px 20px 15px rgba(0, 0, 0, 0.31);
}
.solar-term
  .wrapper
  .calendaricity-main
  .calendaricity-content
  li.detail01
  > div {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
  background-size: contain;
  -webkit-transition: all 0.5s;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.solar-term
  .wrapper
  .calendaricity-main
  .calendaricity-content
  li.detail01
  > div:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  opacity: 0.8;
}
.solar-term
  .wrapper
  .calendaricity-main
  .calendaricity-content
  li.detail01
  > div:hover
  p {
  background-color: rgba(78, 11, 11, 0.8);
}
.solar-term
  .wrapper
  .calendaricity-main
  .calendaricity-content
  li.detail01
  > div
  p {
  position: relative;
  top: 110px;
  padding: 0 35px;
  font-size: 18px;
  color: #dec3c4;
  background-color: rgba(78, 11, 11, 0.5);
}
