
$jieqiImgSrc:"/static/images/jieqi";


/*初始化css*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  outline: none;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
ul, li{
  list-style-type: none;
  box-sizing: border-box;
}
a {
  cursor: pointer;
}
[v-cloak]{
  display: none;
}
body{
  background-color: #deb887;
  color: #666;
  .main{
    position: relative;
    min-width: 1200px;
  }
  .router-view {
    .fade-enter-active {
        transition: opacity .5s ease;
    }
    .fade-leave-active {
        transition: opacity .3s ease;
    }
    // .fade-leave-active below version 2.1.8
    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }
}
  .router-view{
    position: relative;
    min-height: 880px;
    width: 100%;
    height: auto;
    padding-top: 30px;
  }
  
}

header{
  width: 100%;
  height: auto;
  position: relative;
  background: #1C2327;
  .header-tips{
     width: 1000px;
     height: 40px;
     line-height: 40px;
     margin: 0 auto;
     &::before{
        background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
        content: "";
        height: 5px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
     }
    .wrapper{
      float: right;
      li{
        display: inline-block;
        margin: 5px 15px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        .iconfont{
          font-size: 30px;
          cursor: pointer;
          &:hover{
            background-color: #c18a8a;
          }
        }
        //  svg:not(:root) {
        //   overflow: hidden;
        // }
        // .v-align-middle {
        //     vertical-align: middle!important;
        // }
        // .octicon {
        //     vertical-align: text-bottom;
        // }
        // .octicon {
        //     display: inline-block;
        //     vertical-align: text-top;
        //     fill: currentColor;
        // }
        a{
          width: 40px;
          height:40px;
          display: inline-block;
          color: #fff;
          cursor: default;
          text-decoration: none;
          border-radius: 50%;
        }
      }
      
    // .mygithub{
    //   background: url("https://github.com/favicon.ico") no-repeat center center;
    // }
    // .mycsdn{
    //   background: url("https://www.csdn.net/favicon.ico") no-repeat center center;
    // }
    }
  }
  .menu{
    background: #440404;
    .menu-main{
      width: 1000px;
      margin: 0 auto;
      li{
        display: inline-block;
        width: 100px;
        height: 50px;
        line-height: 50px;
      }
      a{
        display: inline-block;
        width: 100%;
        height: 100%;
        color: #fff;
        transition: all .2s;
        &:hover,&.active{
          background-color: #e6aaaa;
          color: #ad0711;
        }
      }
    }

    .menu-sub{
      position: absolute;
      display: none;
      .menu-list-ul li{
        box-sizing: border-box;
        border: 1px solid #fff;
        height: 40px;
        line-height: 40px;
        background: #d4aeae;
        transition: all .5s;
        &:hover{
          background: #8a4545;
          color: #fff;
        }
      }
      &#subMenu_blog,
      &#subMenu_solarTerm{
        background-color: #dababa;
        width: 100px;
        cursor: pointer;
        z-index: 11;
      }

    }
  }
}

footer{
  ul li{
    display: inline-block;
    margin: 0 10px;;
  }
  a{
    margin: 0 10px;
    &:hover{
      color: #ad0711;
    }
  }
}
.home{
  width: 1000px;
  // overflow: hidden;
  margin: auto;
  #banner-container{
    float: left;
    width: 690px;
    height: auto;
    display: inline-block;
    .window{
      position:relative;
      width:100%;
      height:600px;
      margin:0 auto;
      overflow:hidden;
      border-radius: 2%;
    }
    .container{
      display:flex;
      position:absolute;
    }
    .left, .right{
      position:absolute;
      top:50%;
      transform:translateY(-50%);
      width:50px;
      height:50px;
      background-color:rgba(0,0,0,.3);
      border-radius:50%;
      cursor:pointer;
    }
    .left{
      left:3%;
      padding-left:12px;
      padding-top:10px;
    }
    .right{
      right:3%;
      padding-right:12px;
      padding-top:10px;
    }
    img{
      user-select: none;
    }
    .dots{
        width: 100%;
        position:absolute;
        bottom:38px;
        left:50%;
        transform:translateX(-50%);
        background: #4c1f1f;
      }
    .dots li{
      display: inline-block;
      width: 152px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: 100px;
      margin: 1px 8px;
      cursor: pointer;
      opacity: 0.6;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .dots .dotted{
      opacity: 1;
    }
  }
  .card{
    float: right;
  }
}

.card{
  width: 265px;
  height: 225px;
  background: #fff;
  display: inline-block;
  border-radius: 2%;
  background: url(/static/images//quote-bg.png) no-repeat top right rgba(42,42,42,1);
  h2{
    font-size: 22px;
    margin: 10px;
    color: #89919a;
    font-weight: normal;
    padding-bottom: 10px;
  }
  p{    
    text-align: left;
    font-size: 12px;
    padding: 0 0 0 20px;
    line-height: 28px;
    text-shadow: 0px 1px 2px rgba(0,0,0,.5);
    color: #d0d2d4;
  }
  .linkmore{
    margin: 15px;
    li{
      display: inline-block;
      width: 25%;
      float: left;
      a{
        height: 53px;
        text-decoration: none;
        display: block;
        overflow: hidden;
        box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7);
        border-radius: 50%;
        margin: 0 5px;
      }
      a:hover{
        background: #333333;
      }
      .iconfont{
        line-height: 53px;
        text-align: center;
      }
      a.iconfont.icon-homepage {
        color: #ef5509;
        font-size: 36px;
      }
      a.iconfont.icon-youxiang {
        color: #FF991A;
        font-size: 36px;
      }
      a.iconfont.icon-qie{
        font-size: 36px;
      }
      a.iconfont.icon-weixin {
        color: #07AF12;
        font-size: 36px;
      }
    }
  }
}
.blog{
  width: 1200px;
  margin: 0 auto;
  position: relative;
  .wrapper{
    .blog-main {
      li{
        width: 100px;
        display: inline-block;
        >a{
          display: inline-block;
          height: 100%;
          transition: 0.5s all;
          text-decoration: none;
          &:hover,&.active{
            background-color: #8a4545;
            color: #fff;
          }
        }
        .blog-content{
          position: absolute;
          width: 1200px;
          text-align: left;
          left: 50%;
          transform: translateX(-250px);
          li{
            width: 100%;    
          }
        }

      }
      >li{
        height: 40px;
        line-height: 40px;
        >a{
          color: #fff;
          background-color: #230404;
          border: 1px solid #deb887;
          width: 100%;
          line-height: 40px;
          height: 40px;
        }
      }
    }
  }
}
.solar-term{
  width: 1200px;
  margin: 0 auto;
  .wrapper{
    .calendaricity-main{
      // float: left;
      position: relative;
      .calendaricity{
        width: 100px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        background-color: #debaba;
        border: 1px solid #deb887;
        >a{
          display: inline-block;
          width: 100%;
          height: 100%;
          transition: 0.5s all;
          &:hover,&.active{
            background-color: #8a4545;
            color: #fff;
          }
        }
      }
      .calendaricity-content{
          // transition: all .5s ease;
          // opacity: 0;
          &.on{
            display: inline-block;
            position: absolute;
            width: 1100px;
            top: 70px;
            left: 0;
            // opacity: 1;
          }
          li{
            width: 500px;
            margin: 10px 25px;
            display: inline-block;
            float: left;
            text-indent: 2em;
            text-align: left;
            background-color: rgba(226, 206, 206, 0.45);
            h2{
              // display: inline-block;
              text-align: center;
              font-size: 18px;
              text-indent: 0;
              font-weight: bold;
              color: #b74242;
              background-color: rgba(165, 123, 123, 0.41);
              transition: .5s all;
              &:hover{
                background-color: rgba(165, 123, 123, 0.8);
              }
            }
            div p{
              margin: 0 10px;
            }
            &.detail01{
              width: 690px;
              height: 458px;
              position: relative;
              display: block;
              border: none;
              transform: translateX(-50%);
              left: 50%;
              text-align: center;
              overflow: hidden;
              -webkit-box-shadow: -2px 8px 20px 15px rgba(0,0,0,0.31);
              -moz-box-shadow: -2px 8px 20px 15px rgba(0,0,0,0.31);
              box-shadow: -2px 8px 20px 15px rgba(0,0,0,0.31);
            }
            &.detail01>div{
              width: 100%;
              height: 100%;
              cursor: pointer;
              display: block;
              background-size: contain;
              -webkit-transition: all .5s;
              -moz-transition: .5s all;
              -o-transition: .5s all;
              &:hover{
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
                opacity: 0.8;
                p{
                  background-color: rgba(78, 11, 11, 0.8);
                }
              }
            }
            &.detail01>div p{
              // background: url(#{$jieqiImgSrc}/lichun0.jpg) no-repeat center center;
              position: relative;
              top: 110px;
              padding: 0 35px;
              font-size: 18px;
              color: #dec3c4;
              background-color: rgba(78,11,11,0.5);
             
            }

          }
       
      }
    }
  }
}
.doc{
  .card{
    position: absolute;
    left: 50%;
    margin-left: 380px;
  }
}